<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.depromeet.mini.team2.api.mapper.SubwayMapper">
	<resultMap id="resultMap" type="com.depromeet.mini.team2.api.model.Subway">
		<result column="subway_id" property="subwayId" />
		<result column="subway_name" property="subwayName" />
	</resultMap>
    <select id="findAll" resultMap="resultMap">
        SELECT * FROM subway
    </select>
</mapper>